<mat-container>
    <div class="table">
        <mat-card>
            <mat-form-field class="full-width">
                <input matInput type="sring" placeholder="Game Title" [(ngModel)]="newTable.title">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput type="number" placeholder="Number of Players" [(ngModel)]="newTable.maxPlayers"> 
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Style of Game" [(ngModel)]="newTable.keywords"> 
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-select placeholder="Avg. Play Time" [(ngModel)]="newTable.playTime">
                <mat-option *ngFor="let playTime of playTimes" [value]="playTime.time">{{playTime.time}}</mat-option>
            </mat-select>
            </mat-form-field>

            <button mat-raised-button [mat-dialog-close]="true" type="submit" color="primary" (click)="addTable()"><mat-icon>people</mat-icon>Start Table</button>
            <button mat-raised-button mat-dialog-close color="warn"><mat-icon>clear</mat-icon>Cancel</button>
        </mat-card>
    </div>
</mat-container>