<div class="container">
    <h1>New Table</h1>
    <h2>Please enter the table details:</h2>
    <form>
        <div class="form-group">
            <label for="gameTitle">Game Title: </label>
            <input type="text" class="form-control" id="gameTitle" required>
        </div>

        <div class="form-group">
            <label for="maxPlayers">Max No. of Players: </label>
            <input type="number" class="form-control" id="maxPlayers" required>
        </div>
        
        <div class="form-group">
            <label for="keywords">Keywords: </label>
            <input type="text" class="form-control" id="keywords">
        </div>

        <div class="form-group">
            <label for="playTime">Avg. Playtime (mins): </label>
            <input type="number" class="form-control" id="playTime" required>
        </div>

        <button type="submit" class="btn btn-success">Create Table</button>
        <button type="button" class="btn button">Cancel</button>
    </form>
</div>
