.banner {
    width: 100%;
    max-width: 900px;
    margin: 2.5em auto;
    border-radius: .35em;
    overflow: hidden;
    box-shadow: 0 0 26px rgba(0,0,0,.13);
}
.button-leave {
    float: right;
    padding: 1px;
}
.game-table {
    width: 300px;
}
.table-attribute {
    margin: 1em;
    width: 100%;
    display: flex;
    align-items: flex-start;
    border: 2px;
    border-color: lightskyblue;
}