.banner {
    width: 100%;
    max-width: 900px;
    margin: 2.5em auto;
    border-radius: .35em;
    overflow: hidden;
    box-shadow: 0 0 26px rgba(0,0,0,.13);
}

.tables-list {
    display: table;
    margin: auto;
    width: 80%;
}