<div class="wrapper">
    <mat-card class="background">
        <mat-card class="banner">
            <img mat-card-image src="../assets/images/rootgamenightdark.png">
                <mat-card-content>
                    <app-table></app-table>
                </mat-card-content>
        </mat-card>
    </mat-card>

    <div class="listOfTables">
        <mat-card>
        <mat-card-title class="available-tables">Currently available tables.</mat-card-title>
            <ul id="tables">
                <mat-card class="game-table">
                    <mat-card-header>
                        <mat-card-title>A Feast for Odin</mat-card-title>
                    </mat-card-header>
                        <img mat-card-image src="../assets/images/feastforodin.png">
                    <mat-card-content>
                        <p>Maximum Players: 4</p>
                        <p>Average Playtime: 2 1/2 hours</p>
                        <p>Mechanisms:</p>
                        <p>Worker placement, Tile Placement, Press Your Luck</p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button color="accent" mat-raised-button>Join</button>
                    </mat-card-actions>
                </mat-card>
            </ul>
    </div>  
</div>